/* CSS HEX */
:root {
  --eerie-black: #222222ff;
  --ecru: #cca772ff;
  --mint: #10b981ff;
  --white: #ffffffff;
  --white-2: #ffffffff;
}

body {
  margin: 0;
  background-color: #eeeeee;
}

div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.welcome {
  width: 100dvw;
  padding: 5rem 5rem 2rem 5rem;
}

.navbar {
  width: 100dvw;
  height: 5rem;
  background-color: var(--mint);
  display: flex;
  flex-direction: row-reverse;
}

.containerAdmin {
  padding: 0 5rem 5rem 5rem;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30rem 30rem;
  grid-template-areas:
    "data1 data2"
    "data3 data4";
  gap: 2rem;
}

.chartCard {
  padding: 2rem;
  grid-area: data1;
  flex-direction: column;
  display: flex;
  align-items: left;
  background-color: #fdfdfd;
  justify-content: space-between;
  border-radius: 2rem;
  filter: drop-shadow(2px 5px 2px #7e7e7e);
}

.bookingTrends {
  grid-area: data1;
}

.chartSize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.customerPreferences {
  grid-area: data2;
}

.Projections {
  grid-area: data3;
}

.Occupancy {
  grid-area: data4;
}
